body {
    background-color: #659dbd;
    background-image: url(Assets/Images/45-degree-fabric-dark.png);
}

img {
    max-height: 350px;
    max-width: 500px;
}

footer {
    background: #292b2c; 
    color: darkgrey;
    line-height: 30px;
    margin-bottom: 0rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

nav {
    margin-bottom: 3rem;
}

#headshot {
    padding: 1rem;
    margin: auto;
}

#photo-column {
    display: flex;
}